$color-red1: #C20C0C;
$color-red2: #c10d0c;
$color-gray1: #333;
$color-gray2: #666;
$color-gray3: #999;
$color-gray4: #ccc;

$fontSize10: 10px;
$fontSize12: 12px;
$fontSize14: 14px;
$fontSize18: 18px;
$fontSize20: 20px;