body,
p,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
input,
select,
textarea,
button,
th,
td,
menu {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

ul,
dl,
ol {
  list-style: none;
}

img,
fieldset,
input[type="submit"] {
  border: 0 none;
}

em {
  font-style: normal;
}

strong {
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input[type="button"] {
  cursor: pointer;
  border: 0 none;
}

/* 去掉移动端点击有背景色 */
label {
  outline: none !important;
  -webkit-tap-highlight-color: transparent !important;
}

a,
button,
input,
img {
  -webkit-touch-callout: none;
}

img {
  pointer-events: none;
  /*禁止图片的点击事件，例如长按保存图片*/
}

input,
select,
textarea {
  outline: none;
}

a {
  text-decoration: none;
  color: #000;
}

.fl {
  float: left
}

.fr {
  float: right
}

.clearfix {
  *zoom: 1;
}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
  line-height: 0;
  visibility: hidden;
  overflow: hidden;
}

html,
body {
  /*禁止用户选择元素*/
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  /*禁止元素点击出现半透明黑色背景*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-y: scroll;
  overflow-x: hidden;
}

/* 针对移动端 */
html {
  height: 100%;
  width: 100%;
  font-family: 'Heiti SC', 'Microsoft YaHei', "sans-serif";
  font-size: 100px;
  outline: 0;
  -webkit-text-size-adjust: none;
}

body {
  height: 100%;
  font-size: 16px;
  position: relative;
  margin: 0;
}